@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing

<nav class="top-nav">
    <div class="nav-brand">
        <a href="">Учительский портал</a>
    </div>
    
    <div class="nav-links">
        <NavLink href="" Match="NavLinkMatch.All">
            <i class="fas fa-home"></i>
            <span>Главная</span>
        </NavLink>
        
        <NavLink href="blog">
            <i class="fas fa-blog"></i>
            <span>Блог</span>
        </NavLink>
        
        <NavLink href="tests">
            <i class="fas fa-tasks"></i>
            <span>Тесты</span>
        </NavLink>
        
        <NavLink href="admin">
            <i class="fas fa-cog"></i>
            <span>Админ панель</span>
        </NavLink>
    </div>
</nav>

@code {
    public NavMenu()
    {
    }
}