@using TeacherPortalAs.Services
@using TeacherPortalAs.Models
@inject ISubjectService SubjectService
@rendermode InteractiveWebAssembly

<div class="tests-manager">
    <h2>Управление тестами</h2>
    <p>В разработке...</p>
</div> 